<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>SmartKurv</string>
    <key>CFBundleIdentifier</key>
    <string>com.youssef19900.SmartKurv</string>
    <key>CFBundleName</key>
    <string>SmartKurv</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleVersion</key>
    <string>202510101130</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <!-- 📍 LOKATIONSTILLADELSE -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>SmartKurv bruger din placering til at finde de billigste varer i nærheden af dig.</string>

    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <!-- 👇 Dette gør, at appen kører i fuldskærm -->
    <key>UIRequiresFullScreen</key>
    <true/>
</dict>
</plist>
